<p>
  <span>Yes</span>
  <%= radio_button_tag(:gender, value: "true", onchange: "filter.boolean(true, '#{attribute}')") %>

  <span>No</span>
  <%= radio_button_tag(:gender, value: "false", onchange: "filter.boolean(false, '#{attribute}')") %>
</p>
