<p>
  <span>From (<%= min %>)</span>
  <%= input_tag(:number, name: attribute, onchange: "filter.range(this.value, '#{attribute}', 'min')", class: "input") %>
</p>

<p>
  <span>To (<%= max %>)</span>
  <%= input_tag(:number, name: attribute, onchange: "filter.range(this.value, '#{attribute}', 'max')", class: "input") %>
</p>
