<p>
  <span>From (<%= min %>)</span>
  <%= input_tag(:number, onchange: "filter.slider(this.value, '#{attribute}', 'from')") %>
</p>

<p>
  <span>To (<%= max %>)</span>
  <%= input_tag(:number, onchange: "filter.slider(this.value, '#{attribute}', 'to')") %>
</p>
