<p class="control">
  <span>From (<%= min %>)</span>
    <%= input_tag(:range, name: attribute, min: min, max: max, onchange: "filter.range(this.value, '#{attribute}', 'min')") %>
</p>

<p class="control">
  <span>To (<%= max %>)</span>
    <%= input_tag(:range, name: attribute, min: min, max: max, onchange: "filter.range(this.value, '#{attribute}', 'max')") %>
</p>
