<button id="tag_all" onclick="filter.tag('all')" class="all active">all</button>

<% tags.each do |tag| %>
  <button id="tag_<%= "#{tag}" %>" onclick="filter.tag('<%= "#{tag}" %>')" class="tag <%= "#{tag}" %>"><%= "##{tag}" %></button>
<% end %>
