@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 leading-relaxed;
}

h1 {
  @apply text-4xl font-bold mt-2 my-4;
}

h2 {
  @apply text-3xl font-bold mt-2 my-4;
}

h3 {
  @apply text-2xl font-bold my-2;
}

p {
  @apply mt-2 mb-3;
}

a {
  @apply outline-none font-bold;
  color: var(--main-color);
}

img {
  display: inline-block;
}

.card {
  @apply shadow rounded bg-white p-4;
}

.card-title a {
  @apply text-gray-900;
}

.card-body {
  @apply text-gray-600 my-2;
}

.card-actions {
  @apply mt-8 mb-4;
}

.header {
  background-color: var(--main-color);
}

.header img {
  max-width: 200px;
  max-height: 60px;
}

.header .nav-link {
  @apply text-white px-3 py-2 rounded-md font-medium;
}

#sidebar {
  @apply text-gray-500 pb-24;
  min-width: 280px;
}

.btn {
  @apply text-white border-2 py-3 px-6 rounded cursor-pointer outline-none;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline {
  @apply bg-transparent;
  color: var(--main-color);
}

.btn-outline:hover {
  @apply text-white;
  background-color: var(--main-color);
}

.tag {
  @apply contents mr-2 mb-2 font-semibold;
}

.tag:hover {
  color: var(--main-color);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea, select {
  @apply w-full mt-2 mb-4 block rounded focus:border-gray-800 focus:ring focus:ring-gray-400 focus:ring-opacity-50;
}
