<div class="wrapper">
  <form name="filters" class="sidebar">
    <button onclick="state.reset(true)">Reset filters</button>
    </p></p>
    <%= search %>
    <ul><%= render_filters %></ul>
  </form>

  <div class="collection">
    <%= render_collection %>
  </div>
</div>
