<div class="wrapper">
  <div class="sidebar">
    <button onclick="reset(true)">Reset filters</button>
    </p></p>
    <%= search %>
    <ul><%= render_filters %></ul>
  </div>

  <div class="collection">
    <%= render_collection %>
  </div>
</div>
