<p>
  <span>Yes</span>
  <%= radio_button_tag(:type, name: attribute, value: 'true', onchange: "filterBy('boolean', '#{attribute}')") %>

  <span>No</span>
  <%= radio_button_tag(:type, name: attribute, value: 'false', onchange: "filterBy('boolean', '#{attribute}')") %>
</p>
