<footer class="fixed bottom-0 z-20 p-2 w-full border-t bg-white shadow-lg text-center">
  <span class="text-sm text-gray-500">
    <% if config.footer_content %>
      <%= config.footer_content %>
    <% else %>
      <%= config.title %> | powered by <%= link_to "Tonic v#{Tonic::VERSION}", Tonic::REPO %>
    <% end %>
  </span>
</footer>
