<!-- Sidebar overlay -->
<div id="sidebar-overlay" class="hidden" onclick="toggleSidebar()"></div>

<!-- Sidebar -->
<div id="sidebar" class="hidden flex flex-col justify-start items-start">
  <%= render_filters %>
</div>
