<a href="#" onclick="toggleSorting()" class="ml-4">
  Sort by <%= inline_svg 'icons/chevron-down.svg' %>
</a>
<div id="sorting-options" class="dropdown right-0 hidden">
  <% sorting_options.each do |option| %>
    <%= sort_link(option) %>
  <% end %>
</div>
