@charset "utf-8";

html {
  background: #fff;
}

footer {
  background: linear-gradient(whitesmoke, #d2d2d2);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 40px;
}

.nav {
  position: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.nav-item img {
  max-height: 40px;
}

.nav input {
  margin: 1em;
}

.section {
  padding: 90px 40px;
}

.active {
  background-color: orange;
}

.sidebar {
  padding-right: 30px;
}

.hidden {
  display: none;
}